RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !-f 
RewriteRule ^.*$ ./index.php

<Files ~ "(config|controller).php"> 
	Order deny,allow 
	Deny from all 
</Files>
